*{
    box-sizing: border-box;
}
.content{
    width: 300px;
    height: 500px;
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    border-radius: 7px;
    margin: 40px auto;
    padding: 30px;
}
body{
    background-color: hsl(0, 0%, 8%);
}
img{
    width: 50px;
    height: 55px;
    border-radius: 50%;
    display: block;
    margin: auto;
}
button{
    background-color: hsl(0, 0%, 20%);
    counter-reset: white;
    width: 200px;
    height: 6vh;
    border-radius: 7px;
    margin-bottom: 10px;
    border: none;
    color: hsl(0, 0%, 100%);
}
button:visited{
    background-color: red;
}
button:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    cursor: pointer;
}
button:active{
    background-color: black;
    color: white;
}
h3{
    line-height: 5px;
    color: hsl(0, 0%, 100%);
}
p{
    font-size: 11px;
    color: hsl(0, 0%, 100%)
}
.details{
    margin-bottom: 25px;
}
