*{
    box-sizing: border-box;
}
.content{
    width: 300px;
    height: 500px;
    background-color: hsl(0, 0%, 12%);
    text-align: center;
    border-radius: 7px;
    margin: 60px auto;
    padding: 30px;
}
body{
    background-color: hsl(0, 0%, 8%);
    font-family: 'Inter';
}
img{
    width: 60px;
    height: 65px;
    border-radius: 50%;
    display: block;
    margin: auto;
    object-fit: cover;
}
button{
    background-color: hsl(0, 0%, 20%);
    counter-reset: white;
    width: 250px;
    height: 38px;
    border-radius: 7px;
    margin-bottom: 12px;
    border: none;
    font-size: 20px;
    color: hsl(0, 0%, 100%);
}
button:visited{
    background-color: red;
}
button:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 12%);
    cursor: pointer;
}
button:active{
    background-color: black;
    color: white;
}
.origin{
    color: hsl(75, 94%, 57%);
}
.about{
    margin-bottom: 20px
}
h3{
    line-height: 5px;
    color: hsl(0, 0%, 100%);
}
p{
    font-size: 13px;
    color: hsl(0, 0%, 100%)
}
.details{
    margin-bottom: 25px;
}
